.navbar {
  margin-top: 20px;
}

.navbar h2 {
  margin-left: 30px;
}

.navbar-nav {
  position: absolute;
  right: 100px;
}

.navbar-brand {
  font-size: 28px;
  font-weight: 600;
  /* font-family: "Hind", sans-serif;
  font-family: "Montserrat", sans-serif; */
  font-family: "Roboto", sans-serif;
}

.nav-link {
  font-size: 20px;
}

.nav-item {
  margin-left: 20px;
  margin-bottom: 20px;
}

.nav-link {
  font-weight: 600;
  font-size: 22px;
}

.heading {
  display: flex;
  height: 600px;
  width: 100%;
  text-align: center;
  background-color: #f5910f;
}

.text {
  width: 30%;
}

.text h3 {
  margin-top: 200px;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
}

.text p {
  padding: 0px 30px;
  font-size: 20px;
  color: #062e5e;
}

.image {
  width: 70%;
}

.image img {
  margin-top: 50px;
  width: 1105px;
  height: 500px;
}

.category {
  margin-top: 40px;
}

.category h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.category hr {
  background-color: #051830;
  width: 150px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
}

.category {
  width: 100%;
  height: 650px;
}

.cards {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
  font-family: "Roboto", sans-serif;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
}

.swiper-slider .box {
  width: 0;
}

.cat {
  position: relative;
  margin: 0px 50px 30px 50px;
  border-radius: 20px;
  width: 20%;
  height: 450px;
}

.cat::before {
  z-index: 10;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 50%
  );
}

.cat img {
  width: 350px;
  height: 450px;
  border-radius: 20px;
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
}

.cat h3 {
  position: absolute;
  inset: auto auto 30px 30px;
  color: white;
  transition: inset 0.3s 0.3s ease-out;
  left: 40px;
}

.catp,
.button {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
}

.catp {
  width: 60%;
  inset: auto auto 80px 30px;
}

.button {
  inset: auto auto 40px 30px;
  color: inherit;
  text-decoration: none;
}

.cat:hover h3 {
  inset: 170px auto 220px 30px;
  transition: inset 1s ease-out;
}

.cat:hover .catp,
.cat:hover .button {
  color: wheat;
  opacity: 1;
  transition: opacity 0.5s 0.1s ease-in;
}

.cat:hover img {
  transition: opacity 0.3s ease-in;
  opacity: 1;
}

.footer {
  width: 100%;
  background-color: #d3d3d3;
  color: black;
  text-align: center;
  padding-top: 1rem;
  position: relative;
  bottom: 0;
}

.footer {
  padding: 2rem 0;
  background-color: #37383d;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  /* margin-bottom: 1rem; */
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
}

.footer__logo {
  height: 5rem;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.footer__copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
}

.footer_copyright .footer_link {
  font-size: 1.4rem;
  top: 0rem;
}

#ft_logo {
  margin: 2rem 2rem;
}
